.editable:hover,
.editable:focus {
  outline: none;
  background: #eee;
  padding: 0.25em;
  margin: -0.25em;
}

.editable.block {
  display: inline-block;
  padding: 0.25em;
  margin: -0.25em;
}

.editable.empty {
  min-width: 5em;
}
