@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scale-up {
  0% { transform: scale(0.1); }
  100% { transform: scale(1); }
}

.container {
  display: block;
  padding-bottom: 50px;
}

.description {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 1em 0 1em 2em;
  margin-left: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  border-left: 5px solid #FFF844;
  position: relative;
}

.description:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #FFF844;
  position: absolute;
  bottom: -12px;
  left: -14px;
}

.list {
  padding-left: 0;
  color: #999;
}

.question {
  display: list-item;
  list-style-position: inside;
  padding: 1.5em 1em 1em;
  position: relative;
  white-space: nowrap;
}

.question:nth-child(odd) {
  background: #fafafa;
}

.results {
  text-align: center;
}

.congrats {
  font-size: 2em;
  margin: 2em 0;
  animation: scale-up 300ms ease-in;
}

.results i + p {
  margin-top: 0.5em;
}

.controls {
  margin: 4em 0 1em;
  text-align: center;
  position: relative;
  opacity: 0;
  animation: fade-in 300ms ease-in;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

.controls button {
  font-size: 1.5em;
  padding: 0.5em;
  background: #555;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.controls button:hover {
  background: #000;
}

@media only screen and (max-width: 767px) {
  .description {
    display: none;
  }

  .list {
    margin: 0 -1em;
  }

  .question {
    display: none;
  }

  .activeQuestion {
    display: block;
    background: #fafafa;
    list-style-type: none;
    padding-left: 0;
    animation: fade-in 300ms ease-in;
  }
}
