:global(html) {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  min-height: 100vh;
  position: relative;
}

:global(body) {
  margin: 0;
  padding: 0 0 150px;
}

:global(*) {
  box-sizing: border-box;
}

.container {
  display: block;
}

@media only screen and (max-width: 769px) {
  .container > ol {
    margin: 0 -1em;
  }
}

.description {
  font-style: italic;
  padding: 1em 0;
  margin-bottom: 1em;
}

.container ol {
  padding-left: 0;
  color: #999;
  counter-reset: question;
}

.question {
  display: list-item;
  list-style-position: inside;
  padding: 1.5em 1em 1em;
  position: relative;
}

.question:nth-child(even) {
  background: #fafafa;
}

@media only screen and (max-width: 769px) {
  .question {
    list-style-type: none;
    padding-left: 0;
    padding-right: 2em;
  }

  .question::after {
    counter-increment: question;
    content: counter(question) '. ';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
  }
}

.score {
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  text-align: right;
  font-size: 1.4em;
}

@media only screen and (max-width: 769px) {
  .score {
    font-size: 0.9em;
    padding: 0.5em 1em;
    left: 0;
    right: 0;
    top: 0;
    background-color: #FFF844;
    overflow: hidden;
  }

  .score div {
    float: right;
  }

  .score div:first-child {
    float: left;
  }
}

.correctScore {
  color: #76BD75;
}

.incorrectScore {
  color: #FF6717;
}

.controls {
  margin: 4em 0 1em;
  text-align: right;
  position: relative;
}

@media only screen and (max-width: 769px) {
  .controls {
    text-align: center;
  }
}

.controls button {
  font-size: 1.5em;
  padding: 0.5em;
  background: #555;
  color: #fff;
  border: none;
  outline-color: #FFF844;
}

.controls button:hover {
  background: #000;
}
