:global(html) {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  min-height: 100vh;
  position: relative;
}

:global(body) {
  margin: 0;
  padding: 0 0 100px;
}

.container {
  display: block;
}

.description {
  font-style: italic;
  padding: 1em 0;
  margin-bottom: 1em;
}

.container ol {
  padding-left: 0;
  color: #999;
}

.question {
  margin-bottom: 1em;
  display: list-item;
  list-style-position: inside;
  padding: 1em;
}

.question:nth-child(even) {
  background: #fafafa;
}

.score {
  position: fixed;
  right: 30px;
  top: 30px;
  text-align: right;
  font-size: 1.4em;
}

.correctScore {
  color: #76BD75;
}

.incorrectScore {
  color: #FF6717;
}

.controls {
  margin: 4em 0 1em;
  text-align: right;
}

.controls button {
  font-size: 1.5em;
  padding: 0.5em;
  background: #555;
  color: #fff;
  border: none;
  outline-color: #FFF844;
}

.controls button:hover {
  background: #000;
}
