.container {
  margin: auto;
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 900px;
  }
}

.home section {
  padding: 1em 0;
}

.home section:nth-child(even) {
  background: #FFF844;
}

.subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  font-style: italic;
  font-size: 0.6em;
  padding-top: 0.25em;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0 -1em;
}

@media only screen and (min-width: 1024px) {
  .content {
    margin: 0 -3em;
  }
}

.languageBlock {
  flex: 1;
  background: #fff;
  border: 1px solid #333;
  border-radius: 6px;
  margin: 1em;
  padding: 1em;
  padding-left: 3em;
}

.languageBlock h2 a {
  text-decoration: none;
}

.languageBlock:nth-child(odd) > div {
  margin-right: 1em;
}

.content ul {
  padding-left: 0;
}

.content ul li {
  margin-bottom: 0.5em;
  list-style-type: lower-roman;
  color: #ddd;
}

.hero {
  color: #555;
  font-size: 2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 1em;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .content {
    display: block;
  }

  .languageBlock > div {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    text-align: center;
    font-size: 1.5em;
  }

  .languageBlock {
    padding: 0;
  }

  .languageBlock h2 {
    margin: 0;
  }

  .languageBlock h2 a {
    display: block;
    padding: 1em 2em;
    text-align: center;
  }

  .languageBlock ul {
    display: none;
  }

  .singleLang .languageBlock ul {
    display: block;
    margin-left: 3em;
    padding-bottom: 1em;
    padding-right: 1em;
  }

  .languageBlock:target h2 a {
    text-decoration: none;
  }
}
