@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home {
  margin-bottom: 2em;
}

.container {
  margin: auto;
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 900px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

@media only screen and (min-width: 1024px) {
  .content {
    margin: 0 -3em;
  }
}

.title {
}

.subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  font-style: italic;
  font-size: 0.6em;
  padding-top: 0.25em;
}

.foreword {
  margin-top: 0;
}

.languageBlock {
  min-width: 50%;
  padding-top: 1em;
}

.languageBlock h2 a {
  text-decoration: none;
}

.languageBlock > div {
  height: 100%;
  padding: 1em;
  padding-left: 3em;
  border: 2px solid #FFF844;
  border-radius: 4px;
}

.languageBlock:nth-child(odd) > div {
  margin-right: 1em;
}

.content ul {
  padding-left: 0;
}

.content ul li {
  margin-bottom: 0.5em;
  list-style-type: lower-roman;
  color: #ddd;
}

.hero {
  color: #555;
  font-size: 2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 1em;
}

@media only screen and (max-width: 900px) {
  .languageBlock {
    width: 100%;
  }

  .languageBlock > div {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .languageBlock h2 a {
    text-decoration: underline;
  }

  .languageBlock ul {
    display: none;
  }

  .singleLang .languageBlock ul {
    display: block;
  }

  .languageBlock:target h2 a {
    text-decoration: none;
  }

  .hero {
    display: none;
  }
}
