.container {
  width: 100%;
  margin-bottom: 2em;
  background-color: #FFF844;
}

.container header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
  min-height: 8em;
}

@media only screen and (min-width: 1024px) {
  .container header {
    width: 900px;
  }
}

.container h1 {
  font-size: 2em;
  flex: 1;
  align-self: center;
}

@media only screen and (max-width: 1024px) {
  .container h1 {
    font-size: 1.3em;
  }
}

.container a {
  color: #333;
}

.logo {
  display: block;
  margin-right: 1em;
  font-weight: bold;
  text-transform: lowercase;
  align-self: center;
}

.logo svg {
  display: block;
  height: 28px;
}
