.container {
  width: 100%;
  margin-bottom: 2em;
}

.container header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
}

@media only screen and (min-width: 1024px) {
  .container header {
    width: 900px;
  }
}

.container h1 {
  font-size: 2em;
  flex: 1;
  align-self: center;
}

@media only screen and (max-width: 1024px) {
  .container h1 {
    font-size: 1.3em;
  }
}

.container a {
  color: #333;
}
