.container {
  margin: auto;
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 900px;
  }
}

.container h1 {
  margin-top: 2em;
}

.decks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.deck {
  flex: 1;
  margin: 1em;
  border: 2px solid #FFF844;
  border-radius: 4px;
  padding: 1em;
  max-width: 200px;
}

.heading {
  text-align: center;
}

.paragraph {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.paragraph img {
  max-width: 400px;
  vertical-align: middle;
  margin-right: 30px;
}

.paragraph span {
  display: inline-block;
  vertical-align: middle;
}
