.container {
  width: 100%;
  background-color: #FFF844;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.container footer {
  display: block;
  margin: auto;
  padding: 1em;
}

@media only screen and (min-width: 1024px) {
  .container footer {
    width: 900px;
  }
}
