@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.container {
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 6vw;
  color: #333;
  white-space: normal;
}

.container:after {
  font-size: 30px;
  position: absolute;
  left: 100%;
  margin-left: -3.5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: fade-in 300ms ease-in;
}

.correct:after {
  content: '✓';
  color: #76BD75;
}


.incorrect:after {
  content: '×';
  color: #FF6717;
}

.incorrect input {
  animation: shake 600ms cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.question {
  flex-grow: 1;
  font-size: 1.3em;
  font-family: 'Crimson Text', sans-serif;
}

.question span::first-child::first-letter {
  text-transform: capitalize;
}

.question form {
  display: inline;
  position: relative;
}

.question form span {
  color: #76BD75;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 1;
  font-size: 16px;
  color: #FF6717;
}

.question form span + input {
  text-decoration: line-through;
  color: #777;
}

.question input:focus,
.question input {
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  padding: 0;
  border: none;
  background-color: #FFF844;
  transition: all 100ms linear;
  outline: none;
}

.correct .question input {
  background-color: #FEFCD4;
}

.question input::-webkit-input-placeholder {
  color: #999;
}

.question input[readonly]::-webkit-input-placeholder,
.question input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.question input::-moz-input-placeholder {
  color: #999;
}

.question input[readonly]::-moz-input-placeholder,
.question input:focus::-moz-input-placeholder {
  color: transparent !important;
}

.choices {
  align-self: center;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-top: 1em;
}

.choices li {
  list-style: none;
  line-height: 2;
  margin-right: 1em;
  text-transform: lowercase;
}

.choices li:last-child {
  margin-right: 0;
}

.choiceButton {
  font-size: 0.9em;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 0.2em;
  min-width: 4em;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-transform: lowercase;
}

.choiceButton[disabled] {
  cursor: default;
}

.choiceButton:not([disabled]):hover {
  background: #FEFCD4;
  color: #000;
  border-color: #000;
}

.selectedChoice {
  background: #FEFCD4;
}

.correctChoice {
  background: #76BD75 !important;
}

.hintChoice {
  background: #76BD75 !important;
}

.incorrectChoice {
  background: #FF6717 !important;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-right: 0;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
  }

  .container:after {
    top: 100%;
    transform: none;
    margin-left: -2rem;
    margin-top: -3.3rem;
  }

  .choiceButton {
    font-size: 1em;
    padding: 0.7em 0.5em;
  }
}
