.routeContainer {
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .routeContainer {
    width: 900px;
  }
}

@media only screen and (max-width: 769px) {
  .routeContainer {
    padding: 0 1em;
  }
}

