.routeContainer {
  margin: auto;
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .routeContainer {
    width: 900px;
  }
}

.home ul li {
  margin-bottom: 0.5em;
  list-style-type: lower-roman;
  color: #ddd;
}

.home ul li a {
  color: #333;
}

.home ul li a:visited {
  color: #555;
}

.home ul li a:active,
.home ul li a:hover {
  color: #000;
}
